CompileFlags:
  Add:
    - "-std=c++23"
    - "-IC:/ProgramUser/code/Render/VulkanRHI/Include"
    - "-IC:/ProgramUser/code/Render/VulkanRHI/Detail"
    - "-IC:/ProgramUser/code/Render/VulkanRHI/Source"
    - "-IC:/ProgramUser/code/Render/SDL3/include"
    - "-IC:/ProgramUser/tools/VulkanSDK1.4/Include"
  Remove:
    - "-W*"
  Compiler: clang++

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  
Index:
  Background: Build
